$app-bg-dark: #0b1326;
$app-bg-light: #f4f6fb;
$app-card-light: #eeefff;

$app-text-dark: #171f33;
$app-text-light: #dae2fd;
$app-muted: #b4c5ff;

$app-primary: #2563eb;
$app-primary-hover: #1d4ed8;
$app-cyan: #00dbe7;

$app-warning: #fde047;
$app-error: #fca5a5;

$topbar-height: 64px;
$sidebar-width: 256px;

#root {
  width: 100%;
  min-height: 100vh;
}